/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap.min
*= require animate.min
*= require landing-page
*= require_self
*/

/* CSS LOADING */
#outline-register {
    display: none;
    width:15%; height:15%;
    margin:22% auto;
}
.circle {
    width:70px; height:70px;
    border-radius:50%;
    border-top: 2px solid #D3D3D3;
    border-right: 2px solid #D3D3D3;
    border-bottom: 2px solid #D3D3D3;
    border-left: 2px solid #000080;
    -webkit-animation: circle 2s infinite linear;
    animation: circle 2s infinite linear;
}

@-webkit-keyframes circle {
    100% { -webkit-transform: rotate(360deg); } }
@keyframes circle {
    100% { transform: rotate(360deg); transform:rotate(360deg); } }